<%= current_user.id %>
  <md-card>
    <h2>Subscribed Courses</h2>


    <% coursesIdArray = Array.new %>

    <% current_user.subscribes.each do |cour| %>
        <% if current_user.id == cour.user_id  %>
            <%
              coursesIdArray << cour.course_id
            %>

        <% end %>
    <%end%>


      <%coursesIdArray.reverse.each do |element|%>
         <md-card>
           <%
             tmpCourse = Course.find(element)
             doingCourseURL = "'" + '/doingCourse/' + tmpCourse.id.to_s + "'"

           %>

           <div style="display: flex; align-items: center;">

             <img class="controllingWidthOfImage" src=<%= tmpCourse.image%> alt="photo" onclick="location.href=<%=doingCourseURL%>;">
             <div style="display: flex;flex-direction: column;">

               <p style="margin-left: 20px;"><%= tmpCourse.short_summay%></p>
               <button style="margin-left: 20px; width: 100px;" onclick="unsubscribeConfirmation(<%= tmpCourse.id %>);">Un-subscribe</button>

             </div>
             </div>
         </md-card>
      <%end%>
  </md-card>

