<% current_user.id %>
<%courseDone = false%>
  <md-card>
    <h2>Subscribed Courses</h2>


    <% current_user.done_courses.each do |cour| %>
            <%
              if !Course.exists?(cour.course_id) && DoneCourse.exists?(course_id: cour.course_id)

                deletingCourse = DoneCourse.find_by_course_id(cour.course_id)
                deletingCourse.destroy

              end

            %>
    <%end%>

    <% current_user.subscribes.each do |cour| %>
        <%
          if !Course.exists?(cour.course_id) && Subscribe.exists?(course_id: cour.course_id)

            deletingCourse = Subscribe.find_by_course_id(cour.course_id)
            deletingCourse.destroy

          end

        %>
    <%end%>



    <%current_user.subscribes.reverse.each do |cour|%>
        <% element = cour.course_id%>
         <md-card>
           <%
             tmpCourse = Course.find(element)
               doingCourseURL = "'" + '/doingCourse/' + tmpCourse.id.to_s + "'"

           %>

           <div style="display: flex; align-items: center;">

             <img class="controllingWidthOfImage" src=<%= tmpCourse.image%> alt="photo" onclick="location.href=<%=doingCourseURL%>;">
               <div style="display: flex;flex-direction: column;">

                 <p style="margin-left: 20px;"><%= tmpCourse.short_summay%></p>

                 <%
                   totalVideo = Video.where(course_id: tmpCourse.id).count
                   doneVideo =  DoneVideo.where(user_id: current_user.id).where(course_id: tmpCourse.id).count
                   if totalVideo == 0
                     donePercent = 0
                   else
                   donePercent = (doneVideo*100)/totalVideo
                    end
                 %>


                 <div class="container">
                   <%if courseIsDone(tmpCourse.id,current_user.id) %>
                       <div style="display: flex; margin-left: 20px;margin-top: 20px;">
                         <i class="fa fa-check" aria-hidden="true"></i>
                         <p>You have completed this course</p>
                       </div>
                       <h2>Done <i class="fa fa-check" aria-hidden="true"></i></h2>
                       <div class="progress">
                         <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:<%=donePercent%>%">
                           <span class="sr-only">100% Complete</span>
                         </div>
                       </div>
                       </div>

                   <%else%>
                       <button style="margin-left: 20px; width: 100px;" onclick="unsubscribeConfirmation(<%= tmpCourse.id %>);">Un-subscribe</button>
                       <h2>Progress Bar</h2>
                       <div class="progress">
                         <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: <%=donePercent%>%">
                           <span class="sr-only">70% Complete</span>
                         </div>
                       </div>
                       </div>
                   <%end%>



               </div>
             </div>
         </md-card>
      <%end%>
  </md-card>

