
<% course = Course.find_by(id: params[:id])%>

        <md-card>
          <% imgSrc = course.banner_image.blank? ? course.image : course.banner_image %>

          <h2><%=  course.title %></h2>
          <h3><%= course.subtitle%></h3>
          <img src=<%= imgSrc %> alt="photo" width="400px">
          <p><%=  course.summary %></p>

          <p> Level : <%=  course.level %></p>
          <p><strong>Syllabus</strong></p>
          <p><%=  course.syllabus %></p>
          <p> Duration : <%=  course.expected_duration %> months</p>





          <%#------------------ Code fo subscribe button ----------------------%>
          <%if user_signed_in?%>
              <% is_Already_subscribed = false %>
              <% subscribeThisCourseURL = "/subscribeThisCourse/" + current_user.id.to_s + "/" + course.id.to_s %>
              <% current_user.subscribes.each do |cou|%>

                   <% if cou.course_id.to_s == params[:id] %>
                          <% is_Already_subscribed = true %>
                  <%end%>
              <%end%>

              <%if is_Already_subscribed %>
                  <h3>Already Subscribed</h3>
              <%else%>
                  <a href=<%= subscribeThisCourseURL %>  data-method="POST">Subscribe</a>
              <%end%>
          <%elsif teacher_signed_in?%>
              <button onclick="subSignInFuncForTeacher()"> Subscribe</button>
          <%else%>
              <button onclick="subSignInFunc()"> Subscribe</button>
          <%end%>
            <%#------------------ Code for subscribe ends------------------------ %>

        </md-card>

