<h1>Take the world's best courses online.</h1>

<br>
<br>

<% Course.all.each do |course| %>
        <md-card>
          <p><%= course.id%></p>
          <%url = "/course_view_home/" + course.id.to_s %>
          <h2><a href=<%= url%> ><%=  course.title %></a></h2>
          <br>
          <img src=<%= course.image%> alt="photo" width="400px">
          <p><%=  course.short_summay %></p>
        </md-card>
<% end %>