<md-card>
  <%= form_tag '/changeMentorSettings' do%>
      <h3>Email ID : <%= text_field_tag 'email_id', current_teacher.email %> </h3>
      <h3>User Name : <%= text_field_tag 'user_name', current_teacher.username %> </h3>
      <h3>Short Bio : <%= text_field_tag 'short_bio', current_teacher.short_bio %></h3>
      <h3>Age : <%= number_field_tag 'age', current_teacher.age %> years</h3>
      <!--<h3>Gender : <%# text_field_tag 'gender', nil, placeholder: current_user.gender %></h3>-->
      <div style="display: flex; align-items: center;">
        <h3>Gender : </h3>
        <select id="gender" name="gender">
          <option><%= current_teacher.gender%></option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="others">Others</option>
        </select>
      </div>
      <%= submit_tag "Save" %>
  <%end%>

  <a href=""></a>

</md-card>