<md-card>

  <h3>Email ID : <%= current_teacher.email %> </h3>
  <h3>User Name : <%= current_teacher.username %> </h3>
  <h3>Short Bio : <%= current_teacher.short_bio %></h3>
  <h3>Age : <%= current_teacher.age %> years</h3>
  <h3>Gender : <%= current_teacher.gender%></h3>
  <div style="display: flex; margin-top: 50px;">
    <a href="/mentorSettings">Change</a>&nbsp;&nbsp;
    <a href="/">See courses</a>
  </div>

</md-card>