<%
  course = Course.find(params[:course_id])
%>

<md-card>
  <% imgSrc = course.banner_image.blank? ? course.image : course.banner_image %>

  <h2><%=  course.title %></h2>
  <h3><%= course.subtitle%></h3>
  <img src=<%= imgSrc %> alt="photo" width="400px">
  <p><%=  course.summary %></p>

  <p> Level : <%=  course.level %></p>
  <p><strong>Syllabus</strong></p>
  <p><%=  course.syllabus %></p>
  <p> Duration : <%=  course.expected_duration %> months</p>




  <!---->


  <div style="display: flex;justify-content: center;align-items: center;">

    <md-card>
      <h2>Playlist</h2>
      <div class="desdiv" style="padding: 16px;"
           onclick="var frame = document.getElementById('FrameVideo');
               frame.setAttribute('src', '<%= course.teaser_video %>');"><p>Intro</p>
      </div>


      <%course.videos.each do |c|%>

          <div style="display: flex;">
            <div class="desdiv" style="padding: 16px;"
                 onclick="var frame = document.getElementById('FrameVideo');
                     frame.setAttribute('src', '<%= c.link %>');">
              <p><%= c.desc %></p>
            </div>
          </div>
      <%end%>
    </md-card>

    <md-card>

      <iframe id="FrameVideo" src=<%= course.teaser_video %> width="420"  height=300">
      </iframe>

    </md-card>

  </div>

  <!---->
  <% addMoreVideoURL ="/addMoreVideo/" + params[:course_id].to_s  %>
  <a href=<%= addMoreVideoURL %> >Add more video</a>

  <h2>Delete this course</h2>
  <button style="width: 100px;" onclick="deleteCourseConfirmation(<%= params[:course_id] %>);">Delete</button>






</md-card>