<!DOCTYPE html>
<html>
<head>
  <title>Coursera_R</title>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div flex id="navbar">
    <div flex="40" style="display: flex; width: 100%; justify-content: flex-start;align-items: center;">
      <a href="/">Coursera</a>
      <div class="dropdown" style="float:left;">
        <button class="dropbtn">Categories</button>
        <div class="dropdown-content" style="left:0;">
          <a href="/android">Android</a>
          <a href="/web">Web</a>
          <a href="/analytics">Analytics</a>
          <a href="#">API</a>
          <a href="#">Technical Interview</a>
        </div>
      </div>
    </div>
    <span flex></span>
    <div flex="60" style="display: flex; justify-content: flex-end;align-items: center;width: 100%;">

      <%if teacher_signed_in? %>
          <div class="dropdown" style="float:right;">
          <%
            if(current_teacher.username.blank?)
              value = current_teacher.email
            else
              value = current_teacher.username
            end

          %>

          <button class="dropbtn"><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>&nbsp;<%= value%></button>
          <div class="dropdown-content" style="left:0;">
            <a href="/addNewCourse"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add new course</a>
            <a href="/mentor_myCourse">My Courses</a>
            <a href="/mentorProfile">Profile</a>
            <a href="/mentorSettings">Settings</a>
            <a href="/teachers/sign_out" data-method="DELETE">Log Out</a>
          </div>
          </div>
      <%end%>

      <% if user_signed_in? %>
          <div class="dropdown" style="float:right;">
            <%
                if(current_user.username.blank?)
                  value = current_user.email
                else
                  value = current_user.username
                end

            %>
            <button class="dropbtn"><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>&nbsp;<%= value%></button>
            <div class="dropdown-content" style="left:0;">
              <a href="/myCourses">My Courses</a>
              <a href="/profile">Profile</a>
              <a href="/settings">Settings</a>
              <a href="/users/sign_out" data-method="DELETE">Log Out</a>
            </div>
          </div>
      <%end%>


      <%if !user_signed_in? && !teacher_signed_in?%>
          <a href="/teachers/sign_in">For Teachers</a>
          <a href="/users/sign_in">Log In</a>
          <a href="/users/sign_up">Sign Up</a>
      <%end%>
    </div>

  </div>

<%= yield %>

<footer>
  <div>
    <h4>Made by Raounak Sharma</h4>
  </div>
</footer>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
</body>
</html>
